* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arial;
}
body {
  background-color: #353935;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
main {
  /*     margin:auto; */
  border-radius: 10px;
  /*   border: 5px solid black; */
  /*     padding:10px; */
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #5d3fd3;
}
#title {
  text-align: center;
  font-size: 30px;
}
.top-container {
  color: white;
  padding: 20px;
  /*   border: 1px solid red; */
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
#input-container {
  border: none;
  width: 30%;
  /* max-width: fit-content; */
  text-align: center;
  margin: 40px auto 15px auto;
  /*   border: 2px solid green; */
  border-radius: 5px;
  padding: 10px;
  font-size: 30px;
}
#convert-btn {
  background-color: #191970;
  color: white;
  width: 30%;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.bottom-container {
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  background-color: #28282b;
  color: white;
  /*   border: 2px solid green; */
  /*   height: 100px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.unit-container {
  background-color: #36454f;
  width: 100%;
  /*   border: 1px solid orange; */
  margin: 5px auto;
  border-radius: 5px;
  /*   height: 50px; */
  padding: 10px;
}
.unit-type {
  font-size: 20px;
  text-align: center;
}
.display-unit-container {
  margin-top: 15px;
  font-size: 15px;
  /*   border: 2px solid blue; */
  /*   height:50px; */
  display: flex;
  justify-content: center;
}
.display-unit-container p {
  text-align: center;
  padding: 0px 15px;
  /*   border: 1px solid red; */
  margin: 0 5px;
}
